from time import time,sleep

#разрешено делать number_of_requests запросов в time_for_those_requests секунд
number_of_requests = 2#items
time_for_those_requests = 5#секунд

##input data####
myid = 1212212#or IP or any unique useridentification
#################

myjson = {}
while True:	
	myjson.setdefault(myid,[])
	myjson[myid].append(time())
	if len(myjson[myid]) > number_of_requests:
		firstreq = myjson[myid][0]		
		if time()-firstreq > time_for_those_requests:#лимит не превышен
			myjson[myid].pop(0)
			print('идет запрос')
			sleep(1)
			continue			
		else:#лимит превышен
			myjson[myid].pop()
			print('не пушу')
			sleep(1)
			continue
	print('идет запрос')
	sleep(1)
	